{% extends "paginas/base.html" %}


{% block titulo %} lista de usuarios{% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">listar usuarios</div>
    <div class="card-body">
        <h4 class="card-title">usuarios</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">imagen</th>
                        <th scope="col">Nombre completo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">1</td>
                        <td>imagen.jpg</td>
                        <td>Michael Alexander Sanchez Guerrero</td>
                    </tr>
                    <!-- <tr class="">
                        <td scope="row">Item</td>
                        <td>Item</td>
                        <td>Item</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        
        
    </div>
    <div class="card-footer text-muted">

    </div>
</div>


 {% endblock %}